.login-container {
    padding: 100px;
}

.user-picture>img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-picture {
    width: 100px;
    margin: 0px auto;
    position: relative;
}

.camera-icon {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.chat-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 50px !important;
}

.message-box {
    width: 45%;
    background-color: #c7e3f9;
    padding: 10px;
    color: #667682;
    border-radius: 5px;
}

.right-message {
    background-color: #6daad7;
    color: #141414;
    margin-left: auto;
}

.chat-box {
    padding: 10px;
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat-icon {
    font-size: 24px;
    cursor: pointer;
}

.chat-icon:active {
    opacity: 0.5;
}

.user-profile-chat {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #6daad7;
}

.user-email {
    font-size: 14px;
}

.message-box>span {
    font-size: 12px;
    font-weight: bold;
}

.btn_login{
    color: black;
}

.login_nav{
   display: flex;
   justify-content: center;
   margin-right: 50px;
}

.login_navs{
    color: #141414;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.navbar_css{
    background-color: lightblue;
    color: #141414;
    display: flex;
    justify-content: center;

}

#nav_user{
    margin-left: 120px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}


.blog_form{
    padding-left: 70px;
    border-radius: 50px;
    border-color: #667682;
}


.card_body{
    margin-top: 80px;
    margin-left: 40px;

}

.card_blog{
    margin-top: 30px;
}


.prof_img{
    padding-left: 40px;
    height: 130px;
    width: 110px;
    padding-top: 20px;
}

.card_para{
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}